.debug1 {
  background-color: red;
  min-height: 2em;
  height: 100%;
  width: 3.25em;
}

.debug2 {
  background-color: purple;
  min-height: 2em;
  height: 100%;
  width: 3.25em;
}

.debug3 {
  background-color: yellow;
  min-height: 2em;
  height: 100%;
  width: 3.25em;
}

.debug4 {
  background-color: green;
  min-height: 2em;
  height: 100%;
  width: 3.25em;
}

.debug5 {
  background-color: blue;
  min-height: 2em;
  height: 100%;
  width: 3.25em;
}
