// Base
// ---------------------------------------

*,
*:after,
*:before {
	box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  color: black;
	// color: $color__text--default;
	font-family: $font-sans-serif;
	font-size: $font-size;
	font-weight: 300;
	letter-spacing: .01em;
	line-height: $line-height;
}

.container {
  width: 100%;
  max-width: $container-width;
  @include margin(null auto);
}

.main {
  width: $main-width;
}
