// Base
// ---------------------------------------

*,
*:after,
*:before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

.container {
  margin-top: 40px; // TODO: Document this
  width: 100%;
  @include margin(null auto);
  padding: $container-padding;

  // TODO: container should be full-width
  &:not(.full-width) {
    max-width: $container-width;
  }

  &:first-child {
    margin-top: 0px; // TODO: Document that first container doens't have top margin
  }
}

.main {
  width: $main-width;
}

.section {
  margin-bottom: 40px;
}

hr {
  margin-top: -10px;
  border-color: #a8a8a8;
  border-width: 0.5px;
}
