// Base
// ---------------------------------------

*,
*:after,
*:before {
	box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

.container {
  width: 100%;
  @include margin(null auto);
  padding: $container-padding;

  // TODO: container should be full-width
  &:not(.full-width) {
    max-width: $container-width;
  }
}

.main {
  width: $main-width;
}
