// Code
// ---------------------------------------

code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: $color__theme--light-gray;
  border: 1px solid $color__theme--light-gray-border;
  border-radius: 4px;
}

pre {
  background: $color__theme--light-gray;
	border: .1rem solid $color__theme--light-gray-border;
  border-radius: .4rem;
  padding: 1rem 1.5rem;

  > code {
    border: none;
    display: block;
    padding: 0;
    white-space: pre;
  }
}
