// Color
// ---------------------------------------

$color__text--default: #001 !default;

$color__theme--primary: #4573A4 !default;
$color__theme--secondary: #EF6F6C !default;
$color__theme--tertiary: #56E39F !default;
$color__theme--quaternary: #67597A !default;
$color__theme--quinary: #E2F1AF !default;
$color__theme--grayed: #BBB !default;

