// Grid
// ---------------------------------------

.container {
  margin: 0 auto;
  max-width: $container-width;
  padding: 0 2.0rem;
  position: relative;
  width: 100%;
}

.row {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  margin-bottom: 2.0rem;

  &.row-align-top {
    align-items: top;
  }

  &.row-align-center {
    align-items: center;
  }

  &.row-align-baseline {
    align-items: baseline;
  }

  &.row-align-bottom {
    align-items: bottom;
  }

  &.row-align-stretch {
    align-items: stretch;
  }

  .col {
    flex: 1 1 auto;
  }
}

@media (min-width: 40.0rem) {
	.row {
		flex-direction: row;
		margin-left: -1.0rem;
		width: calc(100% + 1.0rem);

		.col {
      margin-left: 1.0rem;
    }
  }
}
