input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="text"],
input[type="url"],
textarea,
select {
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
  background-color: transparent;
  border: .1rem solid $color__theme--grayed; // TODO: Should this just be gray?
  border-radius: .4rem;
  box-shadow: none;
  box-sizing: inherit;
  height: 3.8rem;
  margin-bottom: 1.5rem;
  padding: 0 1.0rem;
  width: 100%; // TODO: Do I want this?

  &:focus {
    outline: 0;
    border: .1rem solid $color__theme--primary;
  }

  &.form__input--minimal {
    outline: none;
    border: none;
    border-bottom: .1rem solid $color__theme--quaternary !important;
    border-radius: 0;

    &:focus {
      border-bottom: .1rem solid $color__theme--primary;
    }
  }
}

input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="text"],
input[type="url"] {
  &.form__input--inline {
    display: inline-block;
    width: auto;
    margin-right: 1rem;
  }
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
}

fieldset,
select,
textarea {
  margin-bottom: 1.5rem;
}

label,
legend {
  display: block;
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: .5rem;
}

fieldset {
  border-width: 0;
  padding: 0;
}

textarea {
  padding: 1.0rem;
  min-height: 6.5rem;
}

select {
	background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="14" viewBox="0 0 29 14" width="29"><path fill="%23d1d1d1" d="M9.37727 3.625l5.08154 6.93523L19.54036 3.625"/></svg>') center right no-repeat;
	padding-right: 3.0rem;

	&:hover {
    border: solid 1px $color__theme--quaternary;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="14" viewBox="0 0 29 14" width="29"><path fill="%23#{$color__theme--quaternary}" d="M9.37727 3.625l5.08154 6.93523L19.54036 3.625"/></svg>');
  }
}

.form__input-group--inline,
.form__group--inline,
.form__label--inline {
  display: inline-block;
}

.form__group--inline,
.form__group--stacked {
  margin-bottom: 1.5rem;
}

.form__group--stacked {
  display: block;

  .form__input-group--inline {
    display: block;
  }
}

.form__label--inline {
  font-weight: normal;
  margin-right: .5rem;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $color__theme--grayed;
  opacity: 0.7;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $color__theme--grayed;
  opacity: 0.7;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $color__theme--grayed;
  opacity: 0.7;
}
