// Mixins

// Media queries
@mixin phone { @media (min-width: #{$screen-phone}) {@content;} }
@mixin tablet { @media (min-width: #{$screen-tablet}) {@content;} }
@mixin desktop { @media (min-width: #{$screen-desktop}) {@content;} }
@mixin widescreen { @media (min-width: #{$screen-widescreen}) {@content;} }

@mixin type-with-ratio($ratio, $font-size) {
  $scale-0: 1;
  $scale--1: calc(#{$scale-0} / #{$ratio});
  $scale-1: calc(#{$scale-0} * #{$ratio});
  $scale-2: calc(#{$scale-1} * #{$ratio});
  $scale-3: calc(#{$scale-2} * #{$ratio});
  $scale-4: calc(#{$scale-3} * #{$ratio});
  $scale-5: calc(#{$scale-4} * #{$ratio});


  body { font-size: #{$font-size}; }
  h1 { font-size: calc(#{$font-size} * #{$scale-4}); }
  h2 { font-size: calc(#{$font-size} * #{$scale-3}); }
  h3 { font-size: calc(#{$font-size} * #{$scale-2}); }
  h4 { font-size: calc(#{$font-size} * #{$scale-1}); }
  h5 { font-size: calc(#{$font-size} * #{$scale-0}); }
  h6 { font-size: calc(#{$font-size} * #{$scale--1}); }
  .jumbo { font-size: calc(#{$font-size} * #{$scale-5}); }
}
