.navbar {
  .navbar-item-logo,
  .navbar-item-keep,
  .navbar-item-left,
  .navbar-item-right {
    display: flex;
    align-items: center;
    padding: $navbar-vertical-padding $navbar-horizontal-padding;
  }

  .navbar-item-logo,
  .navbar-item-keep {
    &:first-child {
      padding-left: 20px;
    }
  }

  .navbar-item-keep,
  .navbar-item-left,
  .navbar-item-right {
    background-color: transparent;
    &:hover {
      background-color: $color-navbar-background-hover;
    }
  }

  .navbar-item-right {
    margin-left: auto;
    & ~ .navbar-item-right {
      margin-left: unset;
    }
  }

  @include phone {
    flex-wrap: wrap;

    input.navbar-toggle {
      &:checked {
        ~ .navbar-item-left,
        ~ .navbar-item-right {
          display: flex;
          flex: 1 100%;
          padding: $navbar-vertical-padding ($navbar-horizontal-padding * 2);
        }
      }
      &:not(:checked) {
        ~ .navbar-item-left,
        ~ .navbar-item-right {
          display: none;
        }
      }
    }
  }

  @include desktop {
    input.navbar-toggle ~ .navbar-item-left,
    input.navbar-toggle ~ .navbar-item-right {
      display: flex !important;
      flex: 0 1 auto;
      padding: $navbar-vertical-padding $navbar-horizontal-padding;
    }
  }
}
