.navbar-section {
  display: flex;
  & + .section-left {
    margin-right: auto;
  }
  & + .section-center {
    justify-content: center;
  }
  & + .section-right {
    margin-left: auto;
    justify-content: flex-end;
  }
}

@include mobile {
  .navbar-section {
    order: 3;
    flex: 1 100%;
    flex-wrap: wrap;
  }

  input.navbar-toggle {
    &:checked {
      ~ .navbar-section > .navbar-item {
        @include navbar-item-collapsed;
      }
    }
  }
}

@include desktop {
  .navbar-section {
    flex-wrap: nowrap;
    flex: 1;
  }
}
