$navbar-height: 3.25em;

nav.navbar {
  width: 100%;
  min-height: 3em;
  height: $navbar-height;
  display: flex;

  .navbar-left {
    margin-right: auto;
  }

  .navbar-center {
    @include margin(null auto);
  }

  .navbar-right {
    margin-left: auto;
  }
}
