.navbar {
  position: relative;
  &:not(.full-width) {
    max-width: $container-width;
    @include margin(null auto);
  }
  width: 100%;
  min-height: $navbar-height;
  display: flex;
  background-color: $color-navbar-background;
  align-items: stretch;

  .navbar-start,
  .navbar-end,
  .navbar-right,
  .navbar-center,
  .navbar-left {
    display: flex;
    align-items: stretch;
  }

  .navbar-start {
    margin-right: auto;
  }

  .navbar-end {
    margin-left: auto;
  }

  // TODO: Center should not be used without left/right
  .navbar-left {
    flex: 1;
  }

  .navbar-center {
    flex: 1;
    justify-content: center;
  }

  .navbar-right {
    flex: 1;
    justify-content: flex-end;
  }

  // .navbar-item-right {
  //   margin-left: auto;
  //   & ~ .navbar-item-right {
  //     margin-left: unset;
  //   }
  // }
  //
  // .navbar-logo,
  // .navbar-item-left,
  // .navbar-item-right {
  //   display: flex;
  //   align-items: center;
  //   padding: 0.5rem ($navbar-spacing / 2);
  // }
  //
  // .navbar-item-left,
  // .navbar-item-right {
  //   background-color: transparent;
  //
  //   &:hover {
  //     background-color: $color-navbar-background-hover;
  //   }
  // }

  // TODO: logo is visible on small screen
  img {
    height: $navbar-height;
  }

  a {
    text-decoration: none;
    color: $color-links;

    &:hover {
      color: $color-links-hover;
    }
  }

  .icon,
  i {
    margin-right: 0.75rem;
  }
}
