// Font Defaults
// -------------
$type-font-size: 1.6rem !default;
$type-font-sans-serif: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;
$type-font-serif: Georgia, serif !default;

$type-line-height: 1.5 !default;
$type-line-height-phone: $type-line-height !default;
$type-line-height-tablet: 1.4 !default;
$type-line-height-desktop: 1.6 !default;
$type-line-height-widescreen: 1.6 !default;

// Type Characteristics
// --------------------
$type-header-font-weight: 700 !default;

// Ratios
// ------
$ratio-minor-second: '1.067';
$ratio-major-second: '1.125';
$ratio-minor-third: '1.200';
$ratio-major-third: '1.250';
$ratio-perfect-fourth: '1.333';
$ratio-augmented-fourth: '1.414';
$ratio-perfect-fifth: '1.500';
$ratio-golden-ratio: '1.618';

$ratio-phone: $ratio-major-second !default;
$ratio-tablet: $ratio-minor-third !default;
$ratio-desktop: $ratio-major-third !default;
$ratio-widescreen: $ratio-desktop !default;

body {
  color: black;
  font-family: $type-font-sans-serif;
  font-size: $type-font-size;
  font-weight: 300;
  letter-spacing: 0.01em;
  line-height: $type-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include margin(0px null 20px);
  font-weight: $type-header-font-weight;
  & + .subheader {
    margin-top: -20px;
  }

  &:not(:first-child):not(.subheader) {
    margin-top: 20px;
  }
}
h1 {
  line-height: 1.15;
}
h2 {
  line-height: 1.15;
}
h3 {
  line-height: 1.25;
}
h4 {
  line-height: 1.4;
}
h5 {
  line-height: #{$type-line-height};
}
h6 {
  line-height: #{$type-line-height};
}

@if global-variable-exists(ratio-global) {
  @include type-with-ratio(#{$ratio-global}, #{$type-font-size});
} @else {
  @include phone {
    @include type-with-ratio(#{$ratio-phone}, #{$type-font-size});
  }

  @include tablet {
    line-height: #{$type-line-height-tablet};
    @include type-with-ratio(#{$ratio-tablet}, #{$type-font-size});
  }

  @include desktop {
    line-height: #{$type-line-height-desktop};
    @include type-with-ratio(#{$ratio-desktop}, #{$type-font-size});
  }

  @include widescreen {
    line-height: #{$type-line-height-desktop};
    @include type-with-ratio(#{$ratio-widescreen}, #{$type-font-size});
  }

  .subheader {
    font-weight: 300;
    color: #a8a8a8;
  }
}

.bold {
  font-weight: bold;
}
