<div class="section">
  <h3>Customize</h3>
  <hr />
  <h4>Font & Line Height Variables</h4>
  <p>
    The type sizes are built off of a base font-size and a ratio. Additionally, there are separate
    variables that can be used to build those up per media size. See the table below for what you
    can set and the defaults.
  </p>
  {% styled_table font_line_height_table %}

  <h4>Available Ratios</h4>
  <p>
    The ratio between the main height and the header size is based on an explicit ratio. You can
    either use one of these or your own. The ratios are set per media size:
  </p>
  {% styled_table site.data.globals.media_ratios_table %}
  <p>You can set your own ratio or use one of the below variables.</p>
  {% styled_table site.data.globals.ratios_table %}
</div>
