<div class="section">
  <h3>Headers</h3>
  <hr />
  <p>The Sartorial Type modules provides the following header tags.</p>
  {% styled_table headers_table %}
  <p>The default ratios between the texts are:</p>
  <ul style="list-style-type:none;">
    <li>Widescreen: <code class="scss-var">$ratio-major-third</code> (1.250)</li>
    <li>Desktop: <code class="scss-var">$ratio-major-third</code> (1.250)</li>
    <li>Tablet: <code class="scss-var">$ratio-minor-third</code> (1.200)</li>
    <li>Phone: <code class="scss-var">$ratio-major-second</code> (1.125)</li>
  </ul>
  <h4>Usage</h4>
  {% include snippet.html file="h.html" %}
</div>
