<nav class="navbar">
  <input class="navbar-toggle" id="navbar-toggle" type="checkbox" />
  <label class="navbar-toggle" for="navbar-toggle">
    <!-- prettier-ignore -->
    <span></span><span></span><span></span>
  </label>
  <div class="navbar-logo">
    <a href="#">{% image word_logo.png, class: navbar-image, alt: Logo %}</a>
  </div>
  <a class="navbar-item" href="#"><i class="fas fa-home icon"></i>Home</a>
  <a class="navbar-item" href="#"><i class="fas fa-book icon"></i>Docs</a>
  <div class="navbar-dropdown">
    <a class="navbar-item" href="#">More</a>
    <div class="navbar-dropdown-menu">
      <a class="navbar-dropdown-item" href="#"><i class="fas fa-home icon"></i>Home</a>
      <a class="navbar-dropdown-item" href="#"><i class="fas fa-home icon"></i>Home</a>
      <a class="navbar-dropdown-item" href="#"><i class="fas fa-home icon"></i>Home</a>
    </div>
  </div>
  <a class="navbar-item navbar-right" href="#">About</a>
  <a class="navbar-item navbar-right" href="#">Signup</a>
</nav>
