<nav class="navbar">
  <input class="navbar-toggle" id="navbar-toggle" type="checkbox" />
  <label class="navbar-toggle" for="navbar-toggle">
    <!-- prettier-ignore -->
    <span></span><span></span><span></span>
  </label>
  <div class="navbar-logo">
    <a href="#">
      <img class="navbar-image" src="{{ site.baseurl }}/assets/img/word_logo.png" alt="Logo" />
    </a>
  </div>
  <a class="navbar-item" href="#"><i class="fas fa-home icon"></i>Home</a>
  <a class="navbar-item" href="#"><i class="fas fa-book icon"></i>Docs</a>
  <a class="navbar-item" href="#">More</a> <a class="navbar-item navbar-right" href="#">About</a>
  <a class="navbar-item navbar-right" href="#">Signup</a>
</nav>
