.container.no-pad
  nav.navbar
    .navbar-start
      .navbar-brand
        a href="#"
          img src="{{ site.baseurl }}/assets/img/word_logo.png"
          Logo
      a.navbar-item.test href="#"
        i class="fas fa-home icon"
        | Home
      a.navbar-item href="#"
        i class="fas fa-book"
        | Docs
      a.navbar-item href="#" More
    .navbar-end
      a.navbar-item href="https://google.com" About
      a.navbar-item href="https://google.com" Signup
