<nav class="navbar">
  <div class="navbar-item-logo">
    <a href="#"><img src="{{ site.baseurl }}/assets/img/word_logo.png" alt="Logo"/></a>
  </div>
  <input class="navbar-toggle" id="navbar-toggle" type="checkbox" />
  <label class="navbar-toggle" for="navbar-toggle">
    <!-- prettier-ignore -->
    <span></span><span></span><span></span>
  </label>
  <a class="navbar-item-left" href="#"><i class="fas fa-home icon"></i> Home </a>
  <a class="navbar-item-left" href="#"><i class="fas fa-book icon"></i> Docs </a>
  <a class="navbar-item-left" href="#">More</a> <a class="navbar-item-right" href="#">About</a>
  <a class="navbar-item-right" href="#">Signup</a>
</nav>
