body {
  color: black;
  font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  letter-spacing: 0.01em;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700; }
  h1 + .subheader,
  h2 + .subheader,
  h3 + .subheader,
  h4 + .subheader,
  h5 + .subheader,
  h6 + .subheader {
    margin-top: -20px; }
  h1:not(:first-child):not(.subheader),
  h2:not(:first-child):not(.subheader),
  h3:not(:first-child):not(.subheader),
  h4:not(:first-child):not(.subheader),
  h5:not(:first-child):not(.subheader),
  h6:not(:first-child):not(.subheader) {
    margin-top: 20px; }

h1 {
  line-height: 1.15; }

h2 {
  line-height: 1.15; }

h3 {
  line-height: 1.25; }

h4 {
  line-height: 1.4; }

h5 {
  line-height: 1.5; }

h6 {
  line-height: 1.5; }

@media (min-width: 320px) {
  body {
    font-size: 1.6rem; }

  .jumbo-text {
    font-size: calc(1.6rem * calc(calc(calc(calc(calc(calc(1 * 1.125) * 1.125) * 1.125) * 1.125) * 1.125) * 1.125)); }

  h1 {
    font-size: calc(1.6rem * calc(calc(calc(calc(calc(1 * 1.125) * 1.125) * 1.125) * 1.125) * 1.125)); }

  h2 {
    font-size: calc(1.6rem * calc(calc(calc(calc(1 * 1.125) * 1.125) * 1.125) * 1.125)); }

  h3 {
    font-size: calc(1.6rem * calc(calc(calc(1 * 1.125) * 1.125) * 1.125)); }

  h4 {
    font-size: calc(1.6rem * calc(calc(1 * 1.125) * 1.125)); }

  h5 {
    font-size: calc(1.6rem * calc(1 * 1.125)); }

  h6 {
    font-size: calc(1.6rem * 1); } }
@media (min-width: 768px) {
  line-height: 1.4;
  body {
    font-size: 1.6rem; }

  .jumbo-text {
    font-size: calc(1.6rem * calc(calc(calc(calc(calc(calc(1 * 1.200) * 1.200) * 1.200) * 1.200) * 1.200) * 1.200)); }

  h1 {
    font-size: calc(1.6rem * calc(calc(calc(calc(calc(1 * 1.200) * 1.200) * 1.200) * 1.200) * 1.200)); }

  h2 {
    font-size: calc(1.6rem * calc(calc(calc(calc(1 * 1.200) * 1.200) * 1.200) * 1.200)); }

  h3 {
    font-size: calc(1.6rem * calc(calc(calc(1 * 1.200) * 1.200) * 1.200)); }

  h4 {
    font-size: calc(1.6rem * calc(calc(1 * 1.200) * 1.200)); }

  h5 {
    font-size: calc(1.6rem * calc(1 * 1.200)); }

  h6 {
    font-size: calc(1.6rem * 1); } }
@media (min-width: 1140px) {
  line-height: 1.6;
  body {
    font-size: 1.6rem; }

  .jumbo-text {
    font-size: calc(1.6rem * calc(calc(calc(calc(calc(calc(1 * 1.250) * 1.250) * 1.250) * 1.250) * 1.250) * 1.250)); }

  h1 {
    font-size: calc(1.6rem * calc(calc(calc(calc(calc(1 * 1.250) * 1.250) * 1.250) * 1.250) * 1.250)); }

  h2 {
    font-size: calc(1.6rem * calc(calc(calc(calc(1 * 1.250) * 1.250) * 1.250) * 1.250)); }

  h3 {
    font-size: calc(1.6rem * calc(calc(calc(1 * 1.250) * 1.250) * 1.250)); }

  h4 {
    font-size: calc(1.6rem * calc(calc(1 * 1.250) * 1.250)); }

  h5 {
    font-size: calc(1.6rem * calc(1 * 1.250)); }

  h6 {
    font-size: calc(1.6rem * 1); } }
@media (min-width: 1690px) {
  line-height: 1.6;
  body {
    font-size: 1.6rem; }

  .jumbo-text {
    font-size: calc(1.6rem * calc(calc(calc(calc(calc(calc(1 * 1.250) * 1.250) * 1.250) * 1.250) * 1.250) * 1.250)); }

  h1 {
    font-size: calc(1.6rem * calc(calc(calc(calc(calc(1 * 1.250) * 1.250) * 1.250) * 1.250) * 1.250)); }

  h2 {
    font-size: calc(1.6rem * calc(calc(calc(calc(1 * 1.250) * 1.250) * 1.250) * 1.250)); }

  h3 {
    font-size: calc(1.6rem * calc(calc(calc(1 * 1.250) * 1.250) * 1.250)); }

  h4 {
    font-size: calc(1.6rem * calc(calc(1 * 1.250) * 1.250)); }

  h5 {
    font-size: calc(1.6rem * calc(1 * 1.250)); }

  h6 {
    font-size: calc(1.6rem * 1); } }
.subheader {
  font-weight: 300;
  color: #a8a8a8; }

*,
*:after,
*:before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

.container {
  margin-top: 40px;
  width: 100%;
  padding: 2rem; }
  .container:not(.full-width) {
    margin-right: auto;
    margin-left: auto;
    max-width: 120rem; }
  .container:first-child {
    margin-top: 0px; }

.main {
  max-width: 96rem; }

.section {
  margin-bottom: 40px;
  position: relative; }

hr {
  margin-top: -10px;
  border-color: #a8a8a8;
  border-width: 0.5px; }

.navbar {
  width: 100%;
  min-height: 3.25em;
  display: flex;
  background-color: #ffffff; }
  .navbar:not(.full-width) {
    max-width: 120rem;
    margin-right: auto;
    margin-left: auto; }
  .navbar .navbar-start,
  .navbar .navbar-end,
  .navbar .navbar-right,
  .navbar .navbar-center,
  .navbar .navbar-left {
    display: flex;
    align-items: stretch; }
  .navbar .navbar-start {
    margin-right: auto; }
  .navbar .navbar-end {
    margin-left: auto;
    justify-content: flex-end; }
  .navbar .navbar-left {
    flex: 1; }
  .navbar .navbar-center {
    flex: 1;
    display: flex;
    justify-content: center; }
  .navbar .navbar-right {
    flex: 1;
    justify-content: flex-end; }
  .navbar .navbar-brand,
  .navbar .navbar-item {
    display: flex;
    align-items: center;
    padding: 0.5rem 0.75rem; }
  .navbar .navbar-item {
    background-color: transparent; }
    .navbar .navbar-item:hover {
      background-color: #fafafa; }
    .navbar .navbar-item:first-child {
      padding-left: 1.5rem; }
    .navbar .navbar-item:last-child {
      padding-right: 1.5rem; }
  .navbar .navbar-brand img {
    padding: 8px;
    height: 3.25em; }
  .navbar a {
    text-decoration: none;
    color: #4a4a4a; }
    .navbar a:hover {
      color: #3273dc; }
  .navbar .icon,
  .navbar i {
    margin-right: 0.75rem; }

.no-pad {
  padding: 0px; }

.no-wrap, .scss-var, .variable-table tr td:nth-child(1) {
  white-space: nowrap; }

pre {
  overflow-x: scroll; }

.highlight .hll {
  background-color: #ffffcc; }

.highlight {
  background: #ffffff; }

.highlight .c {
  color: #888888; }

/* Comment */
.highlight .err {
  color: #FF0000;
  background-color: #FFAAAA; }

/* Error */
.highlight .k {
  color: #008800;
  font-weight: bold; }

/* Keyword */
.highlight .o {
  color: #333333; }

/* Operator */
.highlight .ch {
  color: #888888; }

/* Comment.Hashbang */
.highlight .cm {
  color: #888888; }

/* Comment.Multiline */
.highlight .cp {
  color: #557799; }

/* Comment.Preproc */
.highlight .cpf {
  color: #888888; }

/* Comment.PreprocFile */
.highlight .c1 {
  color: #888888; }

/* Comment.Single */
.highlight .cs {
  color: #cc0000;
  font-weight: bold; }

/* Comment.Special */
.highlight .gd {
  color: #A00000; }

/* Generic.Deleted */
.highlight .ge {
  font-style: italic; }

/* Generic.Emph */
.highlight .gr {
  color: #FF0000; }

/* Generic.Error */
.highlight .gh {
  color: #000080;
  font-weight: bold; }

/* Generic.Heading */
.highlight .gi {
  color: #00A000; }

/* Generic.Inserted */
.highlight .go {
  color: #888888; }

/* Generic.Output */
.highlight .gp {
  color: #c65d09;
  font-weight: bold; }

/* Generic.Prompt */
.highlight .gs {
  font-weight: bold; }

/* Generic.Strong */
.highlight .gu {
  color: #800080;
  font-weight: bold; }

/* Generic.Subheading */
.highlight .gt {
  color: #0044DD; }

/* Generic.Traceback */
.highlight .kc {
  color: #008800;
  font-weight: bold; }

/* Keyword.Constant */
.highlight .kd {
  color: #008800;
  font-weight: bold; }

/* Keyword.Declaration */
.highlight .kn {
  color: #008800;
  font-weight: bold; }

/* Keyword.Namespace */
.highlight .kp {
  color: #003388;
  font-weight: bold; }

/* Keyword.Pseudo */
.highlight .kr {
  color: #008800;
  font-weight: bold; }

/* Keyword.Reserved */
.highlight .kt {
  color: #333399;
  font-weight: bold; }

/* Keyword.Type */
.highlight .m {
  color: #6600EE;
  font-weight: bold; }

/* Literal.Number */
.highlight .s {
  background-color: #fff0f0; }

/* Literal.String */
.highlight .na {
  color: #0000CC; }

/* Name.Attribute */
.highlight .nb {
  color: #007020; }

/* Name.Builtin */
.highlight .nc {
  color: #BB0066;
  font-weight: bold; }

/* Name.Class */
.highlight .no {
  color: #003366;
  font-weight: bold; }

/* Name.Constant */
.highlight .nd {
  color: #555555;
  font-weight: bold; }

/* Name.Decorator */
.highlight .ni {
  color: #880000;
  font-weight: bold; }

/* Name.Entity */
.highlight .ne {
  color: #FF0000;
  font-weight: bold; }

/* Name.Exception */
.highlight .nf {
  color: #0066BB;
  font-weight: bold; }

/* Name.Function */
.highlight .nl {
  color: #997700;
  font-weight: bold; }

/* Name.Label */
.highlight .nn {
  color: #0e84b5;
  font-weight: bold; }

/* Name.Namespace */
.highlight .nt {
  color: #007700; }

/* Name.Tag */
.highlight .nv {
  color: #996633; }

/* Name.Variable */
.highlight .ow {
  color: #000000;
  font-weight: bold; }

/* Operator.Word */
.highlight .w {
  color: #bbbbbb; }

/* Text.Whitespace */
.highlight .mb {
  color: #6600EE;
  font-weight: bold; }

/* Literal.Number.Bin */
.highlight .mf {
  color: #6600EE;
  font-weight: bold; }

/* Literal.Number.Float */
.highlight .mh {
  color: #005588;
  font-weight: bold; }

/* Literal.Number.Hex */
.highlight .mi {
  color: #0000DD;
  font-weight: bold; }

/* Literal.Number.Integer */
.highlight .mo {
  color: #4400EE;
  font-weight: bold; }

/* Literal.Number.Oct */
.highlight .sa {
  background-color: #fff0f0; }

/* Literal.String.Affix */
.highlight .sb {
  background-color: #fff0f0; }

/* Literal.String.Backtick */
.highlight .sc {
  color: #0044DD; }

/* Literal.String.Char */
.highlight .dl {
  background-color: #fff0f0; }

/* Literal.String.Delimiter */
.highlight .sd {
  color: #DD4422; }

/* Literal.String.Doc */
.highlight .s2 {
  background-color: #fff0f0; }

/* Literal.String.Double */
.highlight .se {
  color: #666666;
  font-weight: bold;
  background-color: #fff0f0; }

/* Literal.String.Escape */
.highlight .sh {
  background-color: #fff0f0; }

/* Literal.String.Heredoc */
.highlight .si {
  background-color: #eeeeee; }

/* Literal.String.Interpol */
.highlight .sx {
  color: #DD2200;
  background-color: #fff0f0; }

/* Literal.String.Other */
.highlight .sr {
  color: #000000;
  background-color: #fff0ff; }

/* Literal.String.Regex */
.highlight .s1 {
  background-color: #fff0f0; }

/* Literal.String.Single */
.highlight .ss {
  color: #AA6600; }

/* Literal.String.Symbol */
.highlight .bp {
  color: #007020; }

/* Name.Builtin.Pseudo */
.highlight .fm {
  color: #0066BB;
  font-weight: bold; }

/* Name.Function.Magic */
.highlight .vc {
  color: #336699; }

/* Name.Variable.Class */
.highlight .vg {
  color: #dd7700;
  font-weight: bold; }

/* Name.Variable.Global */
.highlight .vi {
  color: #3333BB; }

/* Name.Variable.Instance */
.highlight .vm {
  color: #996633; }

/* Name.Variable.Magic */
.highlight .il {
  color: #0000DD;
  font-weight: bold; }

/* Literal.Number.Integer.Long */
.example {
  border: 2px solid #4a90e290;
  box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24); }
  .example .source {
    padding: 5px 20px;
    border-top: 2px solid #4a90e290;
    background-color: #f2f2f2;
    white-space: pre; }

.highlight {
  background-color: unset; }

.example figure {
  margin: 0; }

.scss-var, .variable-table tr td:nth-child(1) {
  color: red; }

hr {
  border-color: #4a90e290; }

.source code {
  font-size: 1.4rem; }

.callout {
  padding: 5px 10px;
  margin-top: 58px;
  width: 100%; }
  .callout:before {
    padding: 2px 5px;
    position: absolute;
    font-size: 0.8rem;
    bottom: 100%;
    margin-left: -11px; }
  @media (min-width: 1140px) {
    .callout {
      width: 75%; } }

.callout-warning {
  background-color: #fff0b3;
  border: 1px solid #e6b800; }
  .callout-warning:before {
    background-color: #ffd11a;
    border: 1px solid #e6b800;
    content: 'NOTE';
    border-bottom: none; }

.callout-info {
  background-color: #a8c4f0;
  border: 1px solid #1e55ae; }
  .callout-info:before {
    background-color: #3273dc;
    border: 1px solid #1e55ae;
    content: 'INFO';
    border-bottom: none;
    color: white; }
