body {
  color: black;
  font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  letter-spacing: .01em;
  line-height: 1.5; }
  body h1, body h2, body h3, body h4, body h5, body h6 {
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 300; }
  body h1 {
    line-height: 1.15; }
  body h2 {
    line-height: 1.15; }
  body h3 {
    line-height: 1.25; }
  body h4 {
    line-height: 1.4; }
  body h5 {
    line-height: 1.5; }
  body h6 {
    line-height: 1.5; }
  @media (min-width: 320px) {
    body body {
      font-size: 1.6rem; }
    body .jumbo-text {
      font-size: calc(1.6rem * calc(calc(calc(calc(calc(calc(1 * 1.125) * 1.125) * 1.125) * 1.125) * 1.125) * 1.125)); }
    body h1 {
      font-size: calc(1.6rem * calc(calc(calc(calc(calc(1 * 1.125) * 1.125) * 1.125) * 1.125) * 1.125)); }
    body h2 {
      font-size: calc(1.6rem * calc(calc(calc(calc(1 * 1.125) * 1.125) * 1.125) * 1.125)); }
    body h3 {
      font-size: calc(1.6rem * calc(calc(calc(1 * 1.125) * 1.125) * 1.125)); }
    body h4 {
      font-size: calc(1.6rem * calc(calc(1 * 1.125) * 1.125)); }
    body h5 {
      font-size: calc(1.6rem * calc(1 * 1.125)); }
    body h6 {
      font-size: calc(1.6rem * 1); } }
  @media (min-width: 768px) {
    body {
      line-height: 1.4; }
      body body {
        font-size: 1.6rem; }
      body .jumbo-text {
        font-size: calc(1.6rem * calc(calc(calc(calc(calc(calc(1 * 1.200) * 1.200) * 1.200) * 1.200) * 1.200) * 1.200)); }
      body h1 {
        font-size: calc(1.6rem * calc(calc(calc(calc(calc(1 * 1.200) * 1.200) * 1.200) * 1.200) * 1.200)); }
      body h2 {
        font-size: calc(1.6rem * calc(calc(calc(calc(1 * 1.200) * 1.200) * 1.200) * 1.200)); }
      body h3 {
        font-size: calc(1.6rem * calc(calc(calc(1 * 1.200) * 1.200) * 1.200)); }
      body h4 {
        font-size: calc(1.6rem * calc(calc(1 * 1.200) * 1.200)); }
      body h5 {
        font-size: calc(1.6rem * calc(1 * 1.200)); }
      body h6 {
        font-size: calc(1.6rem * 1); } }
  @media (min-width: 1140px) {
    body {
      line-height: 1.6; }
      body body {
        font-size: 1.6rem; }
      body .jumbo-text {
        font-size: calc(1.6rem * calc(calc(calc(calc(calc(calc(1 * 1.250) * 1.250) * 1.250) * 1.250) * 1.250) * 1.250)); }
      body h1 {
        font-size: calc(1.6rem * calc(calc(calc(calc(calc(1 * 1.250) * 1.250) * 1.250) * 1.250) * 1.250)); }
      body h2 {
        font-size: calc(1.6rem * calc(calc(calc(calc(1 * 1.250) * 1.250) * 1.250) * 1.250)); }
      body h3 {
        font-size: calc(1.6rem * calc(calc(calc(1 * 1.250) * 1.250) * 1.250)); }
      body h4 {
        font-size: calc(1.6rem * calc(calc(1 * 1.250) * 1.250)); }
      body h5 {
        font-size: calc(1.6rem * calc(1 * 1.250)); }
      body h6 {
        font-size: calc(1.6rem * 1); } }

*,
*:after,
*:before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 2rem; }
  .container:not(.full-width) {
    max-width: 120rem; }

.main {
  width: 96rem; }

nav .container {
  padding: 0; }
nav .navbar {
  width: 100%;
  min-height: 3.25em;
  display: flex;
  background-color: #ffffff; }
  nav .navbar .test {
    background-color: red; }
  nav .navbar .navbar-start, nav .navbar .navbar-end, nav .navbar .navbar-right, nav .navbar .navbar-center, nav .navbar .navbar-left {
    display: flex;
    align-items: stretch; }
  nav .navbar .navbar-start {
    margin-right: auto; }
  nav .navbar .navbar-end {
    margin-left: auto;
    justify-content: flex-end; }
  nav .navbar .navbar-left {
    flex: 1; }
  nav .navbar .navbar-center {
    flex: 1;
    display: flex;
    justify-content: center; }
  nav .navbar .navbar-right {
    flex: 1;
    justify-content: flex-end; }
  nav .navbar .navbar-brand, nav .navbar .navbar-item {
    display: flex;
    align-items: center;
    padding: 0.5rem 0.75rem; }
  nav .navbar .navbar-item {
    background-color: transparent; }
    nav .navbar .navbar-item:hover {
      background-color: #fafafa; }
    nav .navbar .navbar-item:first-child {
      padding-left: 1.5rem; }
    nav .navbar .navbar-item:last-child {
      padding-right: 1.5rem; }
  nav .navbar .navbar-brand img {
    height: 3.25em; }
  nav .navbar a {
    text-decoration: none;
    color: #4a4a4a; }
    nav .navbar a:hover {
      color: #3273dc; }
  nav .navbar .icon, nav .navbar i {
    margin-right: .75rem; }

.no-pad {
  padding: 0px; }
