html
  head
    link rel="stylesheet" href="../css/debug.css"
    link rel="stylesheet" href="../css/normalize.css"
    link rel="stylesheet" href="../css/sartorial.css"
    style
      | #grid div {
          min-height: 50px;
        }
  body
    nav.navbar
      .navbar-start.debug1
        .navbar-item
          a href="https://google.com" Hi
        .navbar-item
          a href="https://google.com" Hello
        .navbar-item
          a href="https://google.com" Hey
      .navbar-end.debug3
        .navbar-item
          a href="https://google.com" Hi
        .navbar-item
          a href="https://google.com" Hello
        .navbar-item
          a href="https://google.com" Hey
    nav.navbar
      .navbar-left.debug1
        .navbar-item
          a href="https://google.com" Hi
        .navbar-item
          a href="https://google.com" Hello
        .navbar-item
          a href="https://google.com" Hey
      .navbar-center.debug2
        .navbar-item
          a href="https://google.com" Hi
        .navbar-item
          a href="https://google.com" Hello
        .navbar-item
          a href="https://google.com" Hey
      .navbar-right.debug3
        .navbar-item
          a href="https://google.com" Hi
        .navbar-item
          a href="https://google.com" Hello
        .navbar-item
          a href="https://google.com" Hey
